.box-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  visibility: hidden;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #000;
    opacity: 0;
    transition: opacity 1.3s;
  }

  .body-modal {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    .inner-body-modal {
      background: #fff;
      padding: 25px;
      border-radius: 8px;
      position: relative;
      z-index: 1;
      box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.43);
    }
  }

  &.modal-show {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    transition: all 0.9s;
    .overlay {
      opacity: 0.5;
      transition: opacity 1.3s;
    }

    .body-modal {
      max-height: 1000px;
      opacity: 1;
      transition: 0.1s max-height 0.2s, 0.1s opacity 0.2s;
    }
  }
}
