@font-face {
  font-family: "Neurial Grotesk";
  src: url("/assets/font/neurial/NeurialGrotesk-Regular.eot");
  src: url("/assets/font/neurial/NeurialGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/font/neurial/NeurialGrotesk-Regular.woff2") format("woff2"), url("/assets/font/neurial/NeurialGrotesk-Regular.woff") format("woff"), url("/assets/font/neurial/NeurialGrotesk-Regular.ttf") format("truetype"), url("/assets/font/neurial/NeurialGrotesk-Regular.svg#NeurialGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neurial Grotesk";
  src: url("/assets/font/neurial/NeurialGrotesk-Regular.eot");
  src: url("/assets/font/neurial/NeurialGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/font/neurial/NeurialGrotesk-Regular.woff2") format("woff2"), url("/assets/font/neurial/NeurialGrotesk-Regular.woff") format("woff"), url("/assets/font/neurial/NeurialGrotesk-Regular.ttf") format("truetype"), url("/assets/font/neurial/NeurialGrotesk-Regular.svg#NeurialGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neurial Grotesk";
  src: url("/assets/font/neurial/NeurialGrotesk-Regular.eot");
  src: url("/assets/font/neurial/NeurialGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/font/neurial/NeurialGrotesk-Regular.woff2") format("woff2"), url("/assets/font/neurial/NeurialGrotesk-Regular.woff") format("woff"), url("/assets/font/neurial/NeurialGrotesk-Regular.ttf") format("truetype"), url("/assets/font/neurial/NeurialGrotesk-Regular.svg#NeurialGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Neurial Grotesk;
  padding: 0;
}

#mobile-button {
  color: #bcfa01;
}

@media screen and (max-width: 1279px) {
  .mobile-unblur {
    z-index: 99;
    position: relative;
    background: #00065a;
  }
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
  height: 100vh;
  background: rgba(188, 250, 1, 0.2);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
@media screen and (max-width: 1279px) {
  body.overflow_body, body.overly-menu {
    overflow: hidden;
  }
}
body.overflow_body:before, body.overly-menu:before {
  opacity: 1;
  display: block;
  visibility: visible;
}

.marging {
  margin: auto 214px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .marging {
    margin: auto;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .marging {
    margin: auto 30px;
  }
}

.container-div {
  width: 1920px;
  margin: auto;
}
@media screen and (min-width: 320px) and (max-width: 1920px) {
  .container-div {
    width: auto;
  }
}

a {
  font-size: 18px;
  line-height: normal;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  a {
    font-size: 14px;
  }
}

h3 {
  font-size: 24px;
  line-height: normal;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  h3 {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  h3 {
    font-size: 20px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 22px !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h2 {
  font-size: 40px;
  line-height: normal;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  h2 {
    font-size: 22px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  h2 {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 32px;
  }
}

p {
  color: #01031c;
  opacity: 0.8;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  p {
    font-size: 12px !important;
    line-height: 24px !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  p {
    font-size: 14px !important;
    line-height: 22px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  p {
    line-height: 26px !important;
  }
}

header {
  color: white !important;
  background-color: #00065a;
}
header li {
  font-weight: 500;
}
header .nav-margin {
  margin: auto 270px auto 215px;
}
header .nav-margin div:first-child {
  color: #bcfa01;
}
header .info-header {
  margin: 98px 113px auto 219px;
}
header .info-header h1 {
  font-size: 72px;
  line-height: 90px;
  width: 880px;
}
header .info-header p {
  font-size: 18px;
  color: white;
  line-height: 30px;
  margin-top: 32px;
  width: 798px;
}
header .info-header img {
  height: 100%;
}
header .service-header {
  padding-bottom: 0;
}
header .service-header h1 {
  font-size: 64px;
  line-height: 72px;
}
header .service-header .service-page-header {
  font-size: 24px;
  line-height: 72px;
}
header .dropdown-menu {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  z-index: 99;
  padding: 10px 0;
}
header .dropdown-menu li {
  padding: 10px 32px;
  width: 100%;
  margin-top: 14px;
  width: 100%;
}
header .dropdown-menu li a::after {
  width: 0 !important;
}
header .dropdown-menu li:hover:not(.active-dropdown) {
  background-color: #bcfa01;
}
header .dropdown-menu .active-dropdown {
  background-color: #bcfa01;
}
header .hover-ul li a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(#bcfa01, #26ed88);
  transition: width 0.3s;
  position: relative;
  bottom: -12px;
}
header .hover-ul li a:hover:not(.active-page)::after {
  width: 100%;
}
header .hover-ul li .active-page::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #bcfa01;
}
header .dropdown:hover .dropdown-menu {
  display: block;
  color: black;
}
header .round-border {
  border: 2px solid black;
  border-top-right-radius: 80px 80px;
  border-bottom-right-radius: 80px 80px;
}
header .contact-us-btn {
  background-color: #bcfa01;
  padding: 9px 13px 9px 31px;
  border-radius: 50px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  header .info-header {
    margin: auto 20px;
  }
  header .info-header h1 {
    font-size: 34px;
    line-height: 42px;
  }
  header .info-header p {
    width: auto;
    margin-top: 10px;
    color: white;
  }
  header .info-header .header-btn {
    width: auto;
    flex-direction: column;
    margin-top: 20px;
  }
  header .info-header .header-btn a {
    width: -moz-fit-content;
    width: fit-content;
    padding: 16px 24px;
  }
  header .info-header .mobile-special {
    width: 100%;
    margin-top: 10px;
  }
  header .contact-us-btn {
    padding: 7px 12px 7px 18px;
  }
  header .dropdown-menu li {
    margin-top: 5px;
    padding: 8px 32px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  header .info-header {
    margin: auto 20px;
  }
  header .info-header h1 {
    font-size: 64px;
    line-height: 58px;
  }
  header .info-header p {
    width: auto;
    margin-top: 30px;
  }
  header .info-header .header-btn {
    width: auto;
    flex-direction: column;
    margin-top: 20px;
  }
  header .info-header .header-btn a {
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 26px;
  }
  header .info-header .mobile-special {
    width: 100%;
    margin-top: 10px;
  }
  header .dropdown-menu li {
    padding: 8px 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header .info-header {
    margin: 30px 30px auto;
  }
  header .info-header h1 {
    font-size: 68px;
    line-height: 78px;
  }
  header .dropdown-menu li {
    padding: 10px 12px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  header .info-header {
    margin: 24px 48px auto 60px;
  }
  header .info-header h1 {
    line-height: 86px;
  }
  header .dropdown-menu li {
    padding: 10px 12px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1535px) {
  header .page-nav {
    margin-top: 20px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  header .mobile-menu li {
    margin-bottom: 16px;
  }
  header .service-page-header {
    margin-bottom: 5px !important;
  }
  header h1 {
    width: auto !important;
  }
  header p {
    width: auto !important;
  }
  header .site-logo img {
    max-width: 66%;
  }
  header .nav-margin {
    padding: 8px 20px;
  }
  header .mobile-menu {
    left: -200%;
    transition: 1s;
    z-index: 100;
    top: 60px;
    width: 300px !important;
    height: 200vh;
    background-color: #00065a;
    transition: all ease 0.3s;
  }
  header .mobile-menu.active {
    left: 0;
  }
  header .nav-margin {
    margin: auto;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  header .nav-margin {
    margin: auto 50px;
  }
  header .info-header {
    margin: 52px 50px auto;
    padding-bottom: 30px;
  }
}

.header-btn {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.header-btn a {
  padding: 22px 36px;
}
.header-btn a:first-child {
  background-color: #bcfa01;
  color: #01031c;
  border-radius: 100px;
}
.header-btn a:last-child {
  color: #bcfa01;
  border: 1px solid #bcfa01;
  border-radius: 100px;
}

.custom-app {
  background: #0e0e0e;
  margin-top: 80px;
  padding: 47px 0;
}
.custom-app p {
  margin-top: 20px;
  color: white;
  font-size: 20px;
}
.custom-app a {
  font-size: 20px;
  color: #bcfa01;
}
.custom-app .footer-btn {
  color: #01031c;
  background-color: #bcfa01;
  padding: 16px 40px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .custom-app {
    margin-top: 40px;
    padding: 24px 20px;
  }
  .custom-app a {
    font-size: 14px;
  }
  .custom-app p {
    margin-top: 10px;
  }
  .custom-app .footer-btn {
    padding: 12px 32px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .custom-app {
    margin-top: 50px;
    padding: 28px 20px;
  }
  .custom-app h2 {
    text-align: center;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .custom-app .footer-btn {
    padding: 16px 20px;
  }
}

footer p {
  color: white;
}

.actual-footer {
  background: #161616;
  padding: 70px 0 0;
}
.actual-footer .icon-invert {
  gap: 18px;
}
.actual-footer .icon-invert i {
  filter: invert(100%) brightness(50%);
  margin-top: 8px;
}
.actual-footer h3 {
  font-size: 20px;
  line-height: normal;
}
.actual-footer ul li {
  margin-top: 18px;
  opacity: 0.5;
}
.actual-footer .address {
  width: 261px;
}
.actual-footer .address a {
  margin-top: 20px;
  display: inline-block;
  margin-left: 30px;
}
.actual-footer .address a,
.actual-footer .address p {
  opacity: 0.5;
}

.hiring {
  color: black;
  background-image: linear-gradient(to right, #bcfa01, #26ed88);
  padding: 8px 18px;
  margin-left: 14px;
}

.privacy {
  color: #f4f8ff;
  margin-top: 94px;
  border-top: 1px solid #292929;
  padding: 18px 0;
}
.privacy p {
  opacity: 0.5;
}

.page-nav {
  font-size: 14px;
  line-height: normal;
  margin-top: 109px !important;
  font-weight: 400;
  word-spacing: 10px;
}

.casr-spacing {
  word-spacing: 3px !important;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .casr-spacing {
    word-spacing: 1px !important;
  }
}

.detail-case-bg {
  background-image: url("/assets/image/Home-page/background-work.png");
  background-size: cover;
  background-position: 100px;
}
.detail-case-bg h1 {
  width: 966px !important;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .detail-case-bg h1 {
    width: auto !important;
  }
}

.blog-page-dic {
  margin-top: 20px !important;
}

.active-down {
  transform: rotate(180deg);
}

@font-face {
  font-family: "Neurial Grotesk";
  src: url("/assets/font/neurial/NeurialGrotesk-Regular.eot");
  src: url("/assets/font/neurial/NeurialGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/font/neurial/NeurialGrotesk-Regular.woff2") format("woff2"), url("/assets/font/neurial/NeurialGrotesk-Regular.woff") format("woff"), url("/assets/font/neurial/NeurialGrotesk-Regular.ttf") format("truetype"), url("/assets/font/neurial/NeurialGrotesk-Regular.svg#NeurialGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.work {
  padding: 90px 219px;
  color: white;
  background-color: #091071;
}
.work p {
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .work {
    padding: 30px 20px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .work {
    padding: 40px 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .work {
    padding: 64px 30px;
  }
}

.multi-border {
  position: relative;
}

.multi-border::before {
  position: absolute;
  content: "";
  left: -20px;
  top: 9px;
  width: 22px;
  display: inline-block;
  transform: rotate(90deg);
  height: 1px;
  border-top: 1px solid #bcfa01;
}

.multi-border::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 9px;
  width: 22px;
  display: inline-block;
  transform: rotate(90deg);
  height: 1px;
  border-top: 1px solid #bcfa01;
}

.active-border::before {
  content: "";
  position: absolute;
  border-top: 1px solid #bcfa01;
  bottom: 37px;
  width: 207px;
  display: inline-block;
  left: -5%;
  height: 1px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .active-border::before {
    bottom: 26px;
    width: 158px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .active-border::before {
    bottom: 23px;
    width: 183px;
  }
}

.spiral {
  margin-top: 112px;
}
.spiral h2 {
  width: 639px;
}
.spiral .spriral-para {
  line-height: 35px;
}
.spiral p {
  width: 668px;
}
.spiral a {
  background-color: #bcfa01;
  border-radius: 100px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .spiral {
    margin: 50px 20px 0;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .spiral {
    margin: 60px 20px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .spiral {
    margin: 60px 20px 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .spiral {
    margin: 100px 40px;
  }
  .spiral h2 {
    margin-top: 30px;
  }
  .spiral p {
    text-align: justify;
  }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .spiral h2,
  .spiral p {
    width: auto;
  }
}

.services,
.hiring-main-container {
  margin-top: 72px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .services,
  .hiring-main-container {
    margin: 50px 20px;
  }
  .services .tech-box-blue,
  .hiring-main-container .tech-box-blue {
    margin-top: 30px !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .services,
  .hiring-main-container {
    margin: 60px 20px;
  }
  .services .tech-box-blue,
  .hiring-main-container .tech-box-blue {
    margin-top: 30px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .services,
  .hiring-main-container {
    margin: 72px 40px;
  }
  .services .tech-box-blue,
  .hiring-main-container .tech-box-blue {
    margin-top: 60px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services,
  .hiring-main-container {
    margin: 60px 30px 0;
  }
  .services .tech-box-blue,
  .hiring-main-container .tech-box-blue {
    margin-top: 50px !important;
  }
}

.card:not(.card-active) {
  background: #f4f4f5;
}

.card {
  border: 1px solid #e1e3ef;
  padding: 50px 64px;
  color: #01031c;
}
.card p {
  line-height: 26px;
  font-weight: 300;
  margin-top: 22px;
}
.card h3 {
  margin-top: 26px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .card {
    padding: 30px 20px;
  }
  .card p {
    margin-top: 11px;
  }
  .card h3 {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    padding: 28px 22px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .card {
    padding: 26px 16px;
  }
  .card p {
    margin-top: 11px;
  }
  .card h3 {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .card {
    padding: 42px 54px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .card {
    padding: 40px;
  }
}

.card-active {
  background: #fff;
}

.card-hover:hover:not(.card-active) {
  background: #fff;
  cursor: pointer;
}

.card-not-active {
  background: #f4f4f5;
}

.clint-focus {
  background-color: #00065a;
  color: #f4f4f5;
}
.clint-focus .clint-container {
  padding-left: 207px;
}
.clint-focus .clint-container div:first-child {
  width: 994px;
}
.clint-focus .clint-container a {
  background-color: #bcfa01;
  color: #01031c;
  padding: 16px 36px;
  border-radius: 100px;
  cursor: pointer;
}
.clint-focus .clint-container h2 {
  line-height: 70px;
  font-size: 50px;
}
.clint-focus .clint-container p {
  color: white;
  font-size: 20px;
  line-height: 34px;
  margin-top: 20px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .clint-focus .clint-container {
    padding: 20px 0 20px 20px;
  }
  .clint-focus .clint-container div:first-child {
    width: auto;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .clint-focus .clint-container h2 {
    line-height: 36px;
    font-size: 25px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .clint-focus .clint-container {
    padding: 20px 0 20px 20px;
  }
  .clint-focus .clint-container div:first-child {
    width: auto;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .clint-focus .clint-container h2 {
    line-height: 50px;
    font-size: 46px;
  }
  .clint-focus .clint-container p {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  .clint-focus .clint-container a {
    padding: 18px 38px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .clint-focus .clint-container {
    padding: 20px 0 20px 20px;
  }
  .clint-focus .clint-container div:first-child {
    width: auto;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .clint-focus .clint-container h2 {
    line-height: 60px;
  }
  .clint-focus .clint-container a {
    padding: 18px 38px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .clint-focus .clint-container {
    padding: 20px 0 20px 50px;
  }
  .clint-focus .clint-container div:first-child {
    width: auto;
    margin-bottom: 30px;
  }
  .clint-focus .clint-container h2 {
    line-height: 50px;
    font-size: 40px;
  }
  .clint-focus .clint-container p {
    font-size: 18px;
    line-height: 28px;
  }
  .clint-focus .clint-container a {
    padding: 18px 38px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .clint-focus .clint-container {
    padding-left: 60px;
  }
}

.invole-inderstry {
  margin-top: 82px;
}
.invole-inderstry p {
  width: 956px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .invole-inderstry {
    margin: 41px 20px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .invole-inderstry {
    margin: 41px 30px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .invole-inderstry p {
    width: auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .invole-inderstry {
    margin: 80px 48px;
  }
}

.inderstry-invo-list {
  display: flex;
  flex-direction: column;
}
.inderstry-invo-list a:not(:first-child) {
  margin-top: 28px;
}

.stories {
  margin-top: 98px;
}
.stories .swiper {
  margin-top: 56px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .stories {
    margin: 50px 20px 0;
  }
  .stories .swiper {
    margin-top: 28px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .stories {
    margin: 60px 20px 0;
  }
  .stories .swiper {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .stories {
    margin: 80px 20px 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .stories {
    margin: 90px 40px 0;
  }
}

.e-commerce-para {
  bottom: 43px;
  left: 45px;
}
.e-commerce-para p:first-child {
  padding: 6px 18px;
  opacity: 0.8;
  font-size: 14px !important;
  line-height: normal;
  background-color: #fff;
}
.e-commerce-para p {
  font-size: 24px;
  line-height: normal;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .e-commerce-para {
    bottom: 10px;
    left: 15px;
  }
  .e-commerce-para p:first-child {
    padding: 3px 12px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .e-commerce-para {
    bottom: 10px;
    left: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .e-commerce-para {
    bottom: 18px;
    left: 20px;
  }
  .e-commerce-para p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .e-commerce-para {
    bottom: 12px;
    left: 20px;
  }
  .e-commerce-para p {
    font-size: 20px;
  }
}

.blog-section {
  margin-top: 58px;
}
.blog-section .microsoft-card {
  background: #f4f4f4;
  padding: 44px;
}
.blog-section .microsoft-card .microsoft-para {
  font-size: 19px;
  line-height: 30px;
}
.blog-section .microsoft-card p:first-child {
  padding: 8px 10px;
  background-color: rgba(43, 253, 64, 0.15);
}
.blog-section .microsoft-card h2 {
  font-size: 24px;
  line-height: 38px;
  padding-right: 84px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .blog-section {
    margin: 30px 20px 0;
  }
  .blog-section .microsoft-card {
    padding: 20px;
  }
  .blog-section .microsoft-card h2 {
    padding-right: 0;
  }
  .blog-section .microsoft-card p {
    text-align: justify;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .blog-section {
    margin: 40px 20px 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .blog-section {
    margin: 50px 40px 0;
  }
}

.direct-dev {
  padding: 32px 48px 32px 34px;
  background: #f4f4f4;
  width: 100%;
}
.direct-dev p:first-child {
  padding: 8px 10px;
  background-color: rgba(43, 253, 64, 0.15);
}
.direct-dev h2 {
  font-size: 20px;
  line-height: 29px;
}
.direct-dev p:last-child {
  margin-top: 49px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .direct-dev {
    padding: 28px 20px 28px 25px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .direct-dev h2 {
    font-size: 16px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .direct-dev h2 {
    font-size: 15px;
    line-height: 25px;
  }
}

.card-2 p:first-child {
  background: rgba(43, 102, 253, 0.15);
}

.card-3 p:first-child {
  background: rgba(186, 43, 253, 0.15);
}

.card-4 p:first-child {
  background: #ba2bfd;
  background-color: rgba(253, 43, 43, 0.15);
}

.clint {
  margin-top: 30px;
}

.clint-says {
  margin-top: 72px;
}
.clint-says .says-container {
  gap: 72px;
}
.clint-says p {
  font-size: 18px;
  line-height: 35px;
}
.clint-says .says-heading :first-child {
  color: #091071;
  font-size: 23px;
  line-height: 34px;
}
.clint-says .says-heading h2 {
  font-size: 50px;
  width: 364px;
  line-height: 69px;
}
.clint-says .says-heading a {
  padding: 16px 40px;
  background-color: #bcfa01;
  border-radius: 100px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .clint-says {
    margin: 50px 20px;
  }
  .clint-says h2 {
    font-size: 40px !important;
    width: auto !important;
    line-height: 49px !important;
  }
  .clint-says .says-container {
    gap: 36px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .clint-says {
    margin: 50px 20px;
  }
  .clint-says h2 {
    width: auto !important;
  }
  .clint-says .says-container {
    gap: 50px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .clint-says {
    margin: 100px 40px 0;
  }
  .clint-says .says-container {
    gap: 50px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .clint-says .says-container {
    gap: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .clint-says {
    margin: 50px 30px;
  }
  .clint-says .says-container {
    gap: 50px;
  }
  .clint-says .says-container h2 {
    width: auto;
  }
}

.clint-container p:last-child {
  color: rgba(22, 22, 22, 0.5);
}

.accordination {
  margin-top: 108px;
}
.accordination h2 {
  font-size: 50px;
  line-height: 69px;
}
.accordination .accordination-container {
  margin-top: 52px;
}
.accordination .accordination-container .acc_card {
  border-color: #e3e3e3;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .accordination {
    margin: 54px 20px 0;
  }
  .accordination h2 {
    font-size: 24px !important;
    line-height: 35px !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .accordination h2 {
    font-size: 42px;
    line-height: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .accordination {
    margin: 60px 30px 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .accordination {
    margin: 90px 40px 0;
  }
}

.acc_panel {
  display: none;
  margin: 14px;
}
.acc_panel p {
  font-size: 16px;
  line-height: 26px;
}

.acc_panel_active {
  display: block;
}

.times-required {
  margin-top: 74px;
}
.times-required h2 {
  line-height: 67px;
}
.times-required p {
  width: 1300px;
}
.times-required .counter-container {
  gap: 64px;
  margin-top: 62px;
}
.times-required .counter-container p {
  margin-top: 4px;
  font-size: 18px;
  width: auto !important;
}
.times-required .counter-container h3 {
  color: #00065a;
  font-size: 40px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .times-required {
    margin: 30px 20px 0;
  }
  .times-required p {
    width: auto;
  }
  .times-required .counter-container {
    gap: 32px;
    margin-top: 31px;
  }
  .times-required h2 {
    line-height: 38px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .times-required {
    margin: 40px 20px 0;
  }
  .times-required p {
    width: auto;
  }
  .times-required .counter-container {
    gap: 36px;
  }
  .times-required h2 {
    line-height: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .times-required {
    margin: 40px 20px 0;
  }
  .times-required p {
    width: auto;
  }
  .times-required .counter-container {
    gap: 42px;
  }
  .times-required h2 {
    line-height: 40px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .times-required {
    margin: 48px 48px 0;
  }
  .times-required p {
    width: auto;
  }
  .times-required .counter-container {
    gap: 42px;
  }
  .times-required h2 {
    line-height: 40px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .times-required p {
    width: auto;
  }
}

.techno-used {
  margin-top: 84px;
}
.techno-used .technology-list {
  margin-top: 28px;
}
.techno-used .technology-list .techno-card {
  border-right: 1px solid #e6e6e8;
  border-bottom: 1px solid #e6e6e8;
  padding-left: 30px;
  background-color: white !important;
}
.techno-used .technology-list .techno-card:first-child {
  padding-left: 0;
}
.techno-used .technology-list .techno-card:nth-child(5) {
  padding-left: 0;
  border-bottom: none;
}
.techno-used .technology-list .techno-card:nth-child(6) {
  border-bottom: none;
}
.techno-used .technology-list .techno-card:nth-child(7) {
  border-bottom: none;
}
.techno-used .technology-list .techno-card:nth-child(4) {
  border-right: none;
}
.techno-used .technology-list .techno-card:last-child {
  border-right: none;
}
.techno-used .technology-list .techno-card .techno-heading {
  background-color: rgba(73, 43, 253, 0.2) !important;
}
.techno-used .technology-list .techno-card .list-techno {
  margin-left: 18px;
}
.techno-used .tech-heading-para {
  width: 956px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .techno-used {
    margin: 42px 20px 0;
  }
  .techno-used .techno-card {
    padding: 12px 20px !important;
    border-right: none !important;
  }
  .techno-used .techno-card:nth-child(5) {
    border-bottom: 1px solid #e6e6e8 !important;
  }
  .techno-used .techno-card:nth-child(6) {
    border-bottom: 1px solid #e6e6e8 !important;
  }
  .techno-used .techno-card:nth-child(7) {
    border-bottom: 1px solid #e6e6e8 !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .techno-used {
    margin: 50px 20px 0;
  }
  .techno-used .techno-card {
    padding: 14px 20px !important;
  }
  .techno-used .techno-card:nth-child(2) {
    border-right: none;
  }
  .techno-used .techno-card:nth-child(5) {
    border-bottom: 1px solid #e6e6e8 !important;
  }
  .techno-used .techno-card:nth-child(6) {
    border-bottom: 1px solid #e6e6e8 !important;
  }
  .techno-used .techno-card:nth-child(7) {
    border-right: 1px solid #e6e6e8 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .techno-used {
    margin: 30px 30px 0;
  }
  .techno-used .techno-card {
    padding: 14px 20px !important;
  }
  .techno-used .techno-card:nth-child(2) {
    border-right: none;
  }
  .techno-used .techno-card:nth-child(5) {
    border-bottom: 1px solid #e6e6e8 !important;
  }
  .techno-used .techno-card:nth-child(6) {
    border-bottom: 1px solid #e6e6e8 !important;
    border-right: none;
  }
  .techno-used .techno-card:nth-child(7) {
    border-right: 1px solid #e6e6e8 !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1535px) {
  .techno-used {
    margin: 50px 48px 0;
  }
  .techno-used .techno-card {
    padding: 14px 20px !important;
  }
  .techno-used .techno-card:nth-child(3) {
    border-right: none;
  }
  .techno-used .techno-card:nth-child(4) {
    border-right: 1px solid #e6e6e8 !important;
  }
  .techno-used .techno-card:nth-child(7) {
    border-right: 1px solid #e6e6e8 !important;
  }
  .techno-used .techno-card:nth-child(5) {
    border-bottom: 1px solid #e6e6e8 !important;
  }
  .techno-used .techno-card:nth-child(6) {
    border-right: none;
    border-bottom: 1px solid #e6e6e8 !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .techno-used .tech-heading-para {
    width: auto;
    margin: 20px 0 20px;
  }
}

.techno-card li {
  font-size: 18px;
  font-weight: 300;
  list-style: disc;
}
.techno-card li::marker {
  color: #ded9ff;
}

.new-tech p {
  background-color: rgba(253, 43, 43, 0.2) !important;
}
.new-tech div {
  gap: 70px;
}
.new-tech li::marker {
  color: rgba(253, 43, 43, 0.2) !important;
}

.new-tech2 li::marker {
  color: rgba(43, 253, 64, 0.15) !important;
}

.new-tech3 p {
  background: rgba(253, 43, 182, 0.2) !important;
}
.new-tech3 li::marker {
  color: rgba(253, 43, 182, 0.2) !important;
}

.new-tech4 p {
  background-color: rgba(188, 128, 10, 0.2) !important;
}
.new-tech4 li::marker {
  color: rgba(188, 128, 10, 0.2) !important;
}

.new-tech5 p {
  background-color: rgba(43, 140, 253, 0.2) !important;
}
.new-tech5 li::marker {
  color: rgba(43, 140, 253, 0.2) !important;
}

.new-tech6 p {
  background-color: rgba(255, 230, 0, 0.2) !important;
}
.new-tech6 li::marker {
  color: rgba(255, 230, 0, 0.2) !important;
}

.hiring-container .hiring-para {
  width: 872px;
  margin: auto;
  margin-top: 30px;
}
.hiring-container h2 {
  margin-top: 75px;
}
.hiring-container .developing-team {
  gap: 54px;
  margin-top: 34px;
}
.hiring-container .developing-team p:first-child {
  border: 1px solid black;
  padding: 5px 28px 0;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .hiring-container .hiring-para {
    width: auto;
    margin-top: 20px;
  }
  .hiring-container h2 {
    margin-top: 40px;
  }
  .hiring-container .developing-team {
    gap: 16px;
    margin-top: 22px;
  }
  .hiring-container .developing-team p:first-child {
    padding: 5px 14px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .hiring-container .hiring-para {
    width: auto;
    margin-top: 22px;
  }
  .hiring-container .developing-team {
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hiring-container .hiring-para {
    width: auto;
    margin-top: 22px;
  }
}

.hire-card {
  padding: 48px 64px 50px 46px;
  margin-top: 64px;
}
.hire-card li:first-child {
  margin-top: 14px;
}
.hire-card ul {
  margin-left: 16px;
}
.hire-card li {
  margin-top: 34px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .hire-card {
    margin: 16px 0 0;
    padding: 28px 12px 32px 26px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .hire-card {
    margin: 22px 0 0;
    padding: 36px 15px 40px 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hire-card {
    padding: 34px;
    margin: 40px 0 10px 5px;
  }
}
.card1 {
  background-color: #fff8eb;
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .card1 {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card1 {
    margin: 30px 0 0 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .card1 {
    margin: 40px 0 0 48px;
  }
}

.card2 {
  background-color: #f0f7ff;
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .card2 {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card2 {
    margin: 30px 20px 0 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .card2 {
    margin: 40px 48px 0 0;
  }
}

.custom-sof-container img {
  width: 100%;
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .custom-sof-container {
    margin: auto 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .custom-sof-container {
    margin: auto 30px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .custom-sof-container {
    margin: auto 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .custom-sof-container {
    margin: auto 20px;
  }
}

.card3 {
  background-color: #e5fff0;
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .card3 {
    margin: 0 0 0 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card3 {
    margin: 0 0 0 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .card3 {
    margin: 10px 0 0 48px;
  }
}

.company-swiper {
  padding: 20px 213px;
  border-bottom: 1px solid #e6e6e8;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .company-swiper {
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .company-swiper {
    margin: 24px 48px 0;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .company-swiper {
    padding: 20px 60px;
  }
}
.company-swiper .swiper-wrapper {
  align-items: center;
}

.about-us-swiper {
  border-bottom: none;
}

.professional-hire {
  margin-top: 46px;
}
.professional-hire .hire-content p {
  font-size: 18px;
  width: 743px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .professional-hire {
    margin: 22px 20px 0;
  }
  .professional-hire p {
    font-size: 12px !important;
  }
  .professional-hire .counter-card {
    padding: 25px 13px 26px 13px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .professional-hire {
    margin: 26px 20px 0;
  }
  .professional-hire p {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .professional-hire {
    margin: 30px 30px 0;
  }
  .professional-hire p {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .professional-hire {
    margin: 24px 48px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .professional-hire p {
    width: auto !important;
  }
}

.counter-card {
  padding: 30px 50px 44px 26px;
}
.counter-card:first-child, .counter-card:nth-child(4) {
  border: 1px solid #e6e6e8;
  background-color: #fbfbfb;
}

.counter-box {
  border: 1px solid #e6e6e8;
  border-radius: 4px;
}

.floating-point {
  background: #fff;
  padding: 14px 28px 14px 21px;
  bottom: 38%;
  box-shadow: -2px 2px 4px 0px #dddddd;
  border-radius: 6px;
  left: -108px;
}
.floating-point i {
  margin-right: 16px;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .floating-point {
    padding: 10px 12px 10px 12px;
    right: 0;
    left: initial;
  }
  .floating-point i {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1270px) {
  .floating-point {
    right: 122px;
    left: initial;
    padding: 10px 8px 10px 11px;
    bottom: 34%;
  }
}

.image-card-2 {
  padding: 14px 81px 14px 21px;
  bottom: 25%;
  left: -133px;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .image-card-2 {
    padding: 14px 46px 10px 14px;
    right: 0;
    left: initial;
    bottom: 24%;
  }
  .image-card-2 i {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1270px) {
  .image-card-2 {
    right: 122px;
    left: initial;
    padding: 10px 38px 10px 12px;
    bottom: 21%;
  }
}

.image-card-3 {
  padding: 14px 81px 14px 21px;
  bottom: 12%;
  left: -156px;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .image-card-3 {
    padding: 10px 35px 12px 14px;
    right: 0;
    left: initial;
    bottom: 10%;
  }
  .image-card-3 i {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1270px) {
  .image-card-3 {
    left: initial;
    padding: 10px 20px 10px 15px;
    bottom: 8%;
    right: 123px;
  }
}

.benifit {
  margin-top: 92px;
}
.benifit .benifit-content-container {
  gap: 240px;
}
.benifit .benifit-content-container .content-text {
  gap: 25px;
}
.benifit .benifit-content-container .content-text h4 {
  font-size: 18px;
  font-weight: 900;
}
.benifit h2 {
  line-height: 67px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .benifit {
    margin: 40px 20px 0;
  }
  .benifit .benifit-content-container {
    gap: 60px;
  }
  .benifit .benifit-content-container .content-text {
    gap: 15px;
  }
  .benifit .benifit-content-container .content-text h4 {
    font-size: 14px;
  }
  .benifit h2 {
    line-height: 32px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .benifit {
    margin: 40px 20px 0;
  }
  .benifit .benifit-content-container {
    gap: 54px;
  }
  .benifit .benifit-content-container h4 {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .benifit {
    margin: 50px 30px 0;
  }
  .benifit .benifit-content-container {
    gap: 50px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1270px) {
  .benifit {
    margin: 60px 48px;
  }
  .benifit h2 {
    line-height: 52px;
  }
  .benifit .benifit-content-container {
    gap: 60px;
  }
}

.icon-background {
  padding: 13px;
  background: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.about-us-clint {
  margin-top: 90px;
}

.faq {
  font-size: 23px;
  line-height: 34px;
  color: #091071;
}

.why-maneksoft {
  margin-top: 102px;
}
.why-maneksoft .why-card {
  background: #f4f4f5;
  padding: 32px 45px;
}
.why-maneksoft .why-card h3 {
  font-size: 20px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .why-maneksoft {
    margin: 40px 20px 0;
  }
  .why-maneksoft .why-card {
    padding: 18px;
  }
  .why-maneksoft .why-card:first-child {
    margin-top: 30px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .why-maneksoft {
    margin: 50px 20px 0;
  }
  .why-maneksoft .why-card {
    padding: 25px 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .why-maneksoft {
    margin: 60px 30px 0;
  }
  .why-maneksoft .why-card {
    padding: 25px 28px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .why-maneksoft {
    margin: 80px 40px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .why-maneksoft .why-card {
    padding: 22px 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .man-coding {
    float: right;
    width: 290px;
  }
}
.color-counter {
  color: #00065a;
}

.yellow-add {
  color: #f2931d;
}

.blue-box {
  background-color: #00065a;
  color: #f4f4f5;
  padding-left: 72px;
  gap: 78px;
  margin-top: 32px;
}
.blue-box h2 {
  font-size: 50px;
  line-height: 70px;
}
.blue-box a {
  margin-top: 22px;
  display: inline-block;
  background-color: #bcfa01;
  color: #000;
  border-radius: 100px;
  padding: 16px 60px;
}
.blue-box img {
  width: 342px;
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .blue-box h2 {
    font-size: 34px !important;
    line-height: 44px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .blue-box h2 {
    font-size: 40px !important;
    line-height: 54px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .blue-box h2 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .blue-box {
    padding: 20px;
    gap: 36px;
  }
  .blue-box h2 {
    font-size: 22px;
    line-height: 32px;
  }
  .blue-box img {
    width: 30%;
    float: right;
  }
  .blue-box a {
    margin-top: 16px;
    padding: 12px 30px;
  }
}

.image-container .select-part {
  margin-top: 58px;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .image-container {
    margin: 24px 20px 0;
  }
  .image-container .select-part {
    margin-top: 10px;
  }
  .image-container .select-part select {
    padding: 8px 80px 8px 16px;
  }
  .image-container .select-part::after {
    right: 50px;
  }
  .image-container .second-select::after {
    right: 30% !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .image-container {
    margin: 50px 30px;
  }
  .image-container img {
    width: 100%;
  }
  .image-container .load-more-button img {
    width: 22%;
  }
}

.images-about-tech {
  margin-top: 50px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 28px;
}
.images-about-tech img {
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .images-about-tech {
    row-gap: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .images-about-tech {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}

.load-more-button {
  margin-top: 48px;
  padding: 12px 48px;
  background-color: #bcfa01;
  color: #00065a;
}

.main-and-aside {
  margin-top: 68px;
}
.main-and-aside main {
  color: #01031c;
}
.main-and-aside main p {
  opacity: 0.8;
}
.main-and-aside main p:last-child {
  margin-top: 56px;
}
.main-and-aside main .content-2 {
  margin-top: 62px;
}
.main-and-aside main .content-2 p:nth-child(3) {
  margin-top: 52px;
}
.main-and-aside main .content-2 h3 {
  margin-top: 30px;
}
.main-and-aside main li {
  margin-bottom: 10px;
  list-style-type: disc;
  list-style: disc radial-gradient(#bcfa01, #26ed88);
  margin-left: 10px;
  padding-left: 12px;
}
.main-and-aside main li:last-child {
  margin-bottom: 0;
}
.main-and-aside main .list-box {
  margin-bottom: 20px;
  width: 100%;
}
.main-and-aside main .challenges {
  border-color: #eaeaea;
}
.main-and-aside main .result {
  padding: 38px 38px 72px 56px;
  background-color: #f4f4f5;
}
.main-and-aside main .technology-tools {
  background-color: #00065a;
  padding: 35px 71px 46px 50px;
  margin-top: 62px;
  color: white;
}
.main-and-aside main .content-3 {
  margin-top: 62px;
}
.main-and-aside .list-box {
  width: 308px;
  background: #f4f4f5;
  padding: 33px 122px 38px 30px;
}
.main-and-aside .list-box h4 {
  font-size: 20px;
  margin-bottom: 15px;
}
.main-and-aside .list-box li {
  list-style-type: disc;
  margin: 16px 0 0 16px;
}
.main-and-aside .list-box li:last-child {
  font-weight: 900;
}
.main-and-aside .sub-part {
  padding: 36px 18px 32px 26px;
  background: linear-gradient(#f4f4f5, #f4f4f5) padding-box, linear-gradient(to right, #bcfa01, #26ed88);
  border-top: 8px solid transparent;
}
.main-and-aside .sub-part input {
  padding: 15px 0 15px 18px;
  width: 100%;
}
.main-and-aside .sub-part button {
  padding: 14px 94px;
  background-color: #bcfa01;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-and-aside {
    margin: 30px 20px;
  }
  .main-and-aside .technology-tools {
    padding: 40px !important;
  }
  .main-and-aside .result {
    padding: 22px 14px !important;
  }
  .main-and-aside .content-2 {
    margin-top: 34px !important;
  }
  .main-and-aside .content-2 p:nth-child(3) {
    margin-top: 16px !important;
  }
  .main-and-aside main p:last-child {
    margin-top: 16px;
  }
  .main-and-aside main .list-box {
    padding: 24px 22px;
  }
  .main-and-aside .sub-part button {
    padding: 12px 82px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-and-aside {
    margin: 40px 30px;
  }
  .main-and-aside main .content-2 {
    margin-top: 34px !important;
  }
  .main-and-aside main .content-2 p:nth-child(3) {
    margin-top: 16px !important;
  }
  .main-and-aside main p:last-child {
    margin-top: 16px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main-and-aside {
    margin: 48px;
  }
  .main-and-aside main .content-2 {
    margin-top: 34px !important;
  }
  .main-and-aside main .content-2 p:nth-child(3) {
    margin-top: 20px !important;
  }
  .main-and-aside main p:last-child {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .main-and-aside main .content-2 {
    margin-top: 34px !important;
  }
  .main-and-aside main .content-2 p:nth-child(3) {
    margin-top: 20px !important;
  }
  .main-and-aside main p:last-child {
    margin-top: 20px;
  }
}

.floating-section {
  top: -112px;
  background: #ffffff;
  padding: 10px;
  gap: 16px;
}
.floating-section .componet {
  padding: 20px;
  border: 1px solid #dddddd;
  margin-top: 18px;
}
.floating-section .componet p:first-child {
  background-color: rgba(253, 159, 43, 0.1);
  padding: 8px 10px;
}
.floating-section .componet:first-child {
  margin-top: 0;
}
.floating-section .componet h2 {
  font-size: 20px;
}
.floating-section .componet .spacing {
  line-height: 31px;
}
.floating-section .Design {
  background-color: rgba(43, 177, 253, 0.1) !important;
}
.floating-section .genral {
  background-color: rgba(73, 43, 253, 0.1) !important;
}
.floating-section .pink-bg {
  background-color: rgba(253, 43, 194, 0.1) !important;
}
.floating-section .orange-bg {
  background-color: rgba(253, 159, 43, 0.1);
}
.floating-section .green-bg {
  background-color: rgba(43, 253, 165, 0.1);
}
.floating-section aside .post {
  padding: 30px 10px 8px;
  background: #f4f4f5;
}
.floating-section aside .post h2 {
  font-size: 18px;
}
.floating-section aside .post .componet {
  padding: 0;
  border: none;
  border-bottom: 1px solid #e2e2e2;
}
.floating-section aside .catagory-type a {
  padding: 8px 10px;
}
.floating-section aside .category {
  margin-top: 30px;
  background: #f4f4f5;
  padding: 30px 78px 27px 20px;
}
.floating-section aside .category h2 {
  font-size: 22px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .floating-section {
    position: static;
  }
  .floating-section .componet p:first-child {
    padding: 6px;
  }
  .floating-section .componet h2 {
    font-size: 14px !important;
    line-height: 20px;
  }
  .floating-section .pagination-number {
    margin: 0;
    font-size: 14px;
    padding: 4px 10px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .floating-section {
    top: -28px;
  }
  .floating-section .post h2 {
    font-size: 16px !important;
  }
  .floating-section .post .componet {
    padding: 0 !important;
  }
  .floating-section .category {
    padding: 30px 48px 20px 14px !important;
  }
  .floating-section .spacing {
    line-height: 26px !important;
  }
  .floating-section .componet {
    padding: 16px !important;
  }
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #f5f6f6;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 0.2rem;
}

.pagination-number.active {
  background: #f5f5f5;
}

.blog-footer {
  margin-top: 0 !important;
}

.header-bg {
  padding: 7px 10px;
  background-color: rgba(188, 250, 1, 0.2);
}

.blog-detail-header {
  width: 1244px !important;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .blog-detail-header {
    font-size: 28px !important;
    line-height: 36px !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  .blog-detail-header {
    font-size: 60px !important;
    line-height: 60px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 1535px) {
  .blog-detail-header {
    width: auto !important;
  }
}

.blog-detail {
  background-image: url("/assets/image/Service-list/header-imagesvg.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .blog-detail {
    background-image: none;
  }
}

.u-span {
  font-weight: 900;
  opacity: 1 !important;
  font-size: 40px;
}

.contact-us {
  background: linear-gradient(#fff, #fff) padding-box, #bcfa01;
  border-top: 8px solid transparent !important;
  border: 1px solid #ddd;
  margin-top: 86px;
  padding: 21px 78px;
}
.contact-us a {
  margin-top: 30px;
  padding: 15px 40px;
  background-color: #bcfa01;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .contact-us {
    margin-top: 44px;
    padding: 12px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .contact-us {
    padding: 16px 48px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-us {
    padding: 16px 48px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1279px) {
  .contact-us {
    padding: 16px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .contact-us {
    padding: 21px 50px;
  }
}

.content-2 li {
  margin-bottom: 10px;
  list-style-type: disc;
  list-style: disc radial-gradient(#bcfa01, #26ed88);
  margin-left: 10px;
  padding-left: 12px;
}
.content-2 li:last-child {
  margin-bottom: 0;
}

.app-maintaine {
  margin-top: 60px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .marging-side {
    margin: 20px !important;
  }
}

.input-filed {
  padding: 14px 20px;
  background: #fbfbfb;
  border-color: #e0e0e0;
  border-radius: 5px;
}

.myfile {
  padding: 12px 18px;
  background: rgba(73, 43, 253, 0.1);
}
.myfile button {
  border: none;
}

form button {
  color: #00065a;
  padding: 16px 68px;
  background-color: #bcfa01;
}

.country {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("/assets/image/contact-us-image/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px top 50%;
}

.technology-list-page {
  padding: 40px 130px 40px 40px;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .technology-list-page {
    padding: 26px 20px;
    margin: 30px 0 0 0;
  }
  .technology-list-page .image-container-techno {
    gap: 30px !important;
  }
}

.gray-bg {
  background-color: #f4f4f5;
}

.small-ll {
  padding: 8px 12px;
  border-color: #d9d9d9;
  background-color: #fff;
}

.image-container-techno {
  gap: 60px;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .all-technology h2 {
    margin: auto 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .all-technology h2 {
    margin: auto 30px;
  }
}

.tech-box-blue {
  margin-top: 98px;
}

.clint-gray-bg {
  background: #fbfbfb;
  border-color: #e9e9e9;
  padding: 44px 54px 42px 48px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .clint-gray-bg {
    padding: 22px 20px;
    margin: 16px 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .clint-gray-bg {
    padding: 36px 34px;
    margin: 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .clint-gray-bg {
    padding: 26px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .frist-col {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .sec-col {
    padding-right: 30px;
  }
}

.recruitment {
  margin-top: 70px;
}

.main-recruitment .recruit-card-container {
  margin-top: 50px;
  gap: 18px;
  padding-bottom: 60px;
}
.main-recruitment .recruit-card-container .recruit-card {
  padding: 24px 66px 36px 29px;
  background: #fff;
}
.main-recruitment .recruit-card-container .recruit-card h2 {
  font-size: 20px;
  margin-top: 20px;
}
.main-recruitment .recruit-card-container .numbers {
  padding: 16px 26px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-recruitment {
    margin: 30px 20px 0;
  }
  .main-recruitment .recruit-card {
    padding: 16px 16px 22px !important;
  }
  .main-recruitment .numbers {
    padding: 14px 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main-recruitment {
    margin: 40px 30px 0;
  }
  .main-recruitment .recruit-card-container {
    gap: 14px;
  }
  .main-recruitment .recruit-card {
    padding: 20px 12px 24px 20px !important;
  }
}
@media screen and (max-width: 1700px) {
  .main-recruitment .recruit-card {
    padding: 20px 12px 24px 20px !important;
  }
}

.main-recruitment {
  padding-top: 50px;
}

.box-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  visibility: hidden;
}
.box-modal .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000;
  opacity: 0;
  transition: opacity 1.3s;
}
.box-modal .body-modal {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  top: 212px;
}
.box-modal.modal-show {
  visibility: visible;
  transition: all 0.9s;
}
.box-modal.modal-show .overlay {
  opacity: 0.5;
  transition: opacity 1.3s;
}
.box-modal.modal-show .body-modal {
  max-height: 1000px;
  opacity: 1;
  z-index: 200;
  width: 1004px;
  transition: 0.1s max-height 0.2s, 0.1s opacity 0.2s;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .box-modal .body-modal {
    top: 20px;
    overflow-y: scroll;
    padding: 20px;
    width: 100% !important;
  }
}

.active-modal {
  overflow: hidden;
}
.active-modal .mobile-unblur {
  z-index: 0;
}

.search {
  background-color: #bcfa01;
  border-radius: 100px;
}

.searching-filed {
  background-image: url("/assets/image/clint-page/Search.svg");
  background-repeat: no-repeat;
  background-position: left 14px top 50%;
  padding-left: 54px;
  width: 494px;
}
@media screen and (max-width: 1279px) {
  .searching-filed {
    width: 100%;
  }
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 169px 8px 16px;
  background-color: #f4f4f4;
  border: 1px solid #e6e6e8;
  border-radius: 4px;
  appearance: none;
  background-image: url("/assets/image/contact-us-image/arrow-down.svg") !important;
  background-repeat: no-repeat !important;
  background-position: right 16px top 50% !important;
}

.technology-career {
  padding: 19px 19px 20px 12px;
}
.technology-career .tech-img {
  padding: 16px 26px;
  background-color: #f2f1f1;
  border-color: #e9e9e9;
  border-radius: 100px;
}
.technology-career .tech-img img {
  width: 100% !important;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.technology-career .tech-no-caed p {
  font-size: 14px;
  margin-top: 10px;
}

.read-me,
.search {
  padding: 14px 48px;
}

.select-filed {
  width: 248px;
}
@media screen and (max-width: 1279px) {
  .select-filed {
    width: 100%;
  }
}

.techno-color {
  background-color: #fbfbfb;
}

.career-color-input {
  background-color: #f4f4f5 !important;
}

.body-modal {
  background: #fff;
  z-index: 1000;
  padding: 30px 50px 42px 40px;
}

.cross-button {
  background-color: #ededed;
  padding: 12px 18px;
}

.ctc-gap {
  gap: 46px;
}

.custom-upload {
  background-color: #f5f6f6;
  margin-top: 34px;
  padding: 34px 288px;
  border-color: #b1b1b1;
}/*# sourceMappingURL=style-scss.css.map */