@import "./variable";

.work {
  padding: 90px 219px;
  color: white;
  p {
    color: white;
  }
  background-color: #091071;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    padding: 30px 20px;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    padding: 40px 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 64px 30px;
  }
}
.multi-border {
  position: relative;
}
.multi-border::before {
  position: absolute;
  content: "";
  left: -20px;
  top: 9px;
  width: 22px;
  display: inline-block;
  transform: rotate(90deg);
  height: 1px;
  border-top: 1px solid $button-color;
}
.multi-border::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 9px;
  width: 22px;
  display: inline-block;
  transform: rotate(90deg);
  height: 1px;
  border-top: 1px solid $button-color;
}
.active-border::before {
  content: "";
  position: absolute;
  border-top: 1px solid #bcfa01;
  bottom: 37px;
  width: 207px;
  display: inline-block;
  left: -5%;
  height: 1px;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    bottom: 26px;
    width: 158px;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    bottom: 23px;
    width: 183px;
  }
}

.spiral {
  margin-top: 112px;
  h2 {
    width: 639px;
  }
  .spriral-para {
    line-height: 35px;
  }
  p {
    width: 668px;
  }
  a {
    background-color: $button-color;
    border-radius: 100px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 50px 20px 0;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 60px 20px 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 60px 20px 0;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 100px 40px;
    h2 {
      margin-top: 30px;
    }
    p {
      text-align: justify;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    h2,
    p {
      width: auto;
    }
  }
}

.services,
.hiring-main-container {
  margin-top: 72px;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 50px 20px;
    .tech-box-blue {
      margin-top: 30px !important;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 60px 20px;
    .tech-box-blue {
      margin-top: 30px !important;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 72px 40px;
    .tech-box-blue {
      margin-top: 60px !important;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 60px 30px 0;
    .tech-box-blue {
      margin-top: 50px !important;
    }
  }
}
.card:not(.card-active) {
  background: #f4f4f5;
}
.card {
  border: 1px solid #e1e3ef;
  padding: 50px 64px;
  color: $primary-color;

  p {
    line-height: 26px;
    font-weight: 300;
    margin-top: 22px;
  }
  h3 {
    margin-top: 26px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    padding: 30px 20px;
    p {
      margin-top: 11px;
    }
    h3 {
      margin-top: 20px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 28px 22px;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    padding: 26px 16px;
    p {
      margin-top: 11px;
    }
    h3 {
      margin-top: 20px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    padding: 42px 54px;
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    padding: 40px;
  }
}
.card-active {
  background: #fff;
}
.card-hover:hover:not(.card-active) {
  background: #fff;
  cursor: pointer;
}
.card-not-active {
  background: #f4f4f5;
}

.clint-focus {
  background-color: $header-background;
  color: $section-background;
  .clint-container {
    padding-left: 207px;
    div:first-child {
      width: 994px;
    }
    a {
      background-color: $button-color;
      color: $primary-color;
      padding: 16px 36px;
      border-radius: 100px;
      cursor: pointer;
    }
    h2 {
      line-height: 70px;
      font-size: 50px;
    }
    p {
      color: white;
      font-size: 20px;
      line-height: 34px;
      margin-top: 20px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    .clint-container {
      padding: 20px 0 20px 20px;
      div:first-child {
        width: auto;
        padding-right: 20px;
        margin-bottom: 30px;
      }
      h2 {
        line-height: 36px;
        font-size: 25px;
      }
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    .clint-container {
      padding: 20px 0 20px 20px;
      div:first-child {
        width: auto;
        padding-right: 20px;
        margin-bottom: 30px;
      }
      h2 {
        line-height: 50px;
        font-size: 46px;
      }
      p {
        font-size: 18px !important;
        line-height: 28px !important;
      }
      a {
        padding: 18px 38px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .clint-container {
      padding: 20px 0 20px 20px;
      div:first-child {
        width: auto;
        padding-right: 20px;
        margin-bottom: 30px;
      }
      h2 {
        line-height: 60px;
      }
      a {
        padding: 18px 38px;
      }
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .clint-container {
      padding: 20px 0 20px 50px;
      div:first-child {
        width: auto;
        margin-bottom: 30px;
      }
      h2 {
        line-height: 50px;
        font-size: 40px;
      }
      p {
        font-size: 18px;
        line-height: 28px;
      }
      a {
        padding: 18px 38px;
      }
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    .clint-container {
      padding-left: 60px;
    }
  }
}

.invole-inderstry {
  margin-top: 82px;
  p {
    width: 956px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 41px 20px 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 41px 30px 0;
  }
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    p {
      width: auto;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 80px 48px;
  }
}

.inderstry-invo-list {
  display: flex;
  flex-direction: column;
  a:not(:first-child) {
    margin-top: 28px;
  }
}

.stories {
  margin-top: 98px;
  .swiper {
    margin-top: 56px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 50px 20px 0;
    .swiper {
      margin-top: 28px;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 60px 20px 0;
    .swiper {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 80px 20px 0;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 90px 40px 0;
  }
}

.e-commerce-para {
  bottom: 43px;
  left: 45px;
  p:first-child {
    padding: 6px 18px;
    opacity: 0.8;
    font-size: 14px !important;
    line-height: normal;
    background-color: #fff;
  }
  p {
    font-size: 24px;
    line-height: normal;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    bottom: 10px;
    left: 15px;
    p:first-child {
      padding: 3px 12px;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    bottom: 10px;
    left: 14px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    bottom: 18px;
    left: 20px;
    p {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    bottom: 12px;
    left: 20px;
    p {
      font-size: 20px;
    }
  }
}

.blog-section {
  margin-top: 58px;
  .microsoft-card {
    background: #f4f4f4;
    padding: 44px;
    .microsoft-para {
      font-size: 19px;
      line-height: 30px;
    }
    p:first-child {
      padding: 8px 10px;
      background-color: rgba(43, 253, 64, 0.15);
    }
    h2 {
      font-size: 24px;
      line-height: 38px;
      padding-right: 84px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 30px 20px 0;
    .microsoft-card {
      padding: 20px;
      h2 {
        padding-right: 0;
      }
      p {
        text-align: justify;
      }
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 40px 20px 0;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 50px 40px 0;
  }
}

.direct-dev {
  padding: 32px 48px 32px 34px;
  background: #f4f4f4;
  width: 100%;
  p:first-child {
    padding: 8px 10px;
    background-color: rgba(43, 253, 64, 0.15);
  }
  h2 {
    font-size: 20px;
    line-height: 29px;
  }
  p:last-child {
    margin-top: 49px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    padding: 28px 20px 28px 25px;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    h2 {
      font-size: 16px;
      line-height: 25px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    h2 {
      font-size: 15px;
      line-height: 25px;
    }
  }
}
.card-2 {
  p:first-child {
    background: rgba(43, 102, 253, 0.15);
  }
}
.card-3 {
  p:first-child {
    background: rgba(186, 43, 253, 0.15);
  }
}

.card-4 {
  p:first-child {
    background: #ba2bfd;
    background-color: rgba(253, 43, 43, 0.15);
  }
}

.clint {
  margin-top: 30px;
}
.clint-says {
  margin-top: 72px;
  .says-container {
    gap: 72px;
  }
  p {
    font-size: 18px;
    line-height: 35px;
  }
  .says-heading {
    :first-child {
      color: #091071;
      font-size: 23px;
      line-height: 34px;
    }
    h2 {
      font-size: 50px;
      width: 364px;
      line-height: 69px;
    }
    a {
      padding: 16px 40px;
      background-color: $button-color;
      border-radius: 100px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 50px 20px;
    h2 {
      font-size: 40px !important;
      width: auto !important;
      line-height: 49px !important;
    }
    .says-container {
      gap: 36px;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 50px 20px;
    h2 {
      width: auto !important;
    }
    .says-container {
      gap: 50px !important;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 100px 40px 0;
    .says-container {
      gap: 50px;
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    .says-container {
      gap: 50px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 50px 30px;
    .says-container {
      gap: 50px;
      h2 {
        width: auto;
      }
    }
  }
}
.clint-container p:last-child {
  color: rgba(22, 22, 22, 0.5);
}

.accordination {
  margin-top: 108px;
  h2 {
    font-size: 50px;
    line-height: 69px;
  }
  .accordination-container {
    margin-top: 52px;
    .acc_card {
      border-color: #e3e3e3;
      cursor: pointer;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 54px 20px 0;
    h2 {
      font-size: 24px !important;
      line-height: 35px !important;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    h2 {
      font-size: 42px;
      line-height: 60px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 60px 30px 0;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 90px 40px 0;
  }
}

.acc_panel {
  display: none;
  margin: 14px;
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

.acc_panel_active {
  display: block;
}

.times-required {
  margin-top: 74px;
  h2 {
    line-height: 67px;
  }
  p {
    width: 1300px;
  }
  .counter-container {
    gap: 64px;
    margin-top: 62px;
    p {
      margin-top: 4px;
      font-size: 18px;
      width: auto !important;
    }
    h3 {
      color: #00065a;
      font-size: 40px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 30px 20px 0;
    p {
      width: auto;
    }
    .counter-container {
      gap: 32px;
      margin-top: 31px;
    }
    h2 {
      line-height: 38px;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 40px 20px 0;
    p {
      width: auto;
    }
    .counter-container {
      gap: 36px;
    }
    h2 {
      line-height: 40px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 40px 20px 0;
    p {
      width: auto;
    }
    .counter-container {
      gap: 42px;
    }
    h2 {
      line-height: 40px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 48px 48px 0;
    p {
      width: auto;
    }
    .counter-container {
      gap: 42px;
    }
    h2 {
      line-height: 40px;
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    p {
      width: auto;
    }
  }
}

.techno-used {
  margin-top: 84px;
  .technology-list {
    margin-top: 28px;
    .techno-card {
      border-right: 1px solid #e6e6e8;
      border-bottom: 1px solid #e6e6e8;
      padding-left: 30px;
      background-color: white !important;
      &:first-child {
        padding-left: 0;
      }
      &:nth-child(5) {
        padding-left: 0;
        border-bottom: none;
      }
      &:nth-child(6) {
        border-bottom: none;
      }
      &:nth-child(7) {
        border-bottom: none;
      }
      &:nth-child(4) {
        border-right: none;
      }
      &:last-child {
        border-right: none;
      }
      .techno-heading {
        background-color: rgba(73, 43, 253, 0.2) !important;
      }
      .list-techno {
        margin-left: 18px;
      }
    }
  }

  .tech-heading-para {
    width: 956px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 42px 20px 0;
    .techno-card {
      padding: 12px 20px !important;
      border-right: none !important;
      &:nth-child(5) {
        border-bottom: 1px solid #e6e6e8 !important;
      }
      &:nth-child(6) {
        border-bottom: 1px solid #e6e6e8 !important;
      }
      &:nth-child(7) {
        border-bottom: 1px solid #e6e6e8 !important;
      }
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 50px 20px 0;
    .techno-card {
      padding: 14px 20px !important;
      &:nth-child(2) {
        border-right: none;
      }
      &:nth-child(5) {
        border-bottom: 1px solid #e6e6e8 !important;
      }
      &:nth-child(6) {
        border-bottom: 1px solid #e6e6e8 !important;
      }
      &:nth-child(7) {
        border-right: 1px solid #e6e6e8 !important;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 30px 30px 0;
    .techno-card {
      padding: 14px 20px !important;
      &:nth-child(2) {
        border-right: none;
      }
      &:nth-child(5) {
        border-bottom: 1px solid #e6e6e8 !important;
      }
      &:nth-child(6) {
        border-bottom: 1px solid #e6e6e8 !important;
        border-right: none;
      }
      &:nth-child(7) {
        border-right: 1px solid #e6e6e8 !important;
      }
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1535px) {
    margin: 50px 48px 0;
    .techno-card {
      padding: 14px 20px !important;
      &:nth-child(3) {
        border-right: none;
      }
      &:nth-child(4) {
        border-right: 1px solid #e6e6e8 !important;
      }
      &:nth-child(7) {
        border-right: 1px solid #e6e6e8 !important;
      }
      &:nth-child(5) {
        border-bottom: 1px solid #e6e6e8 !important;
      }
      &:nth-child(6) {
        border-right: none;
        border-bottom: 1px solid #e6e6e8 !important;
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    .tech-heading-para {
      width: auto;
      margin: 20px 0 20px;
    }
  }
}
.techno-card {
  li {
    font-size: 18px;
    font-weight: 300;
    list-style: disc;
    &::marker {
      color: #ded9ff;
    }
  }
}
.new-tech {
  p {
    background-color: rgba(253, 43, 43, 0.2) !important ;
  }
  div {
    gap: 70px;
  }
  li::marker {
    color: rgba(253, 43, 43, 0.2) !important;
  }
}

.new-tech2 {
  li::marker {
    color: rgba(43, 253, 64, 0.15) !important;
  }
}

.new-tech3 {
  p {
    background: rgba(253, 43, 182, 0.2) !important;
  }
  li::marker {
    color: rgba(253, 43, 182, 0.2) !important;
  }
}

.new-tech4 {
  p {
    background-color: rgba(188, 128, 10, 0.2) !important;
  }
  li::marker {
    color: rgba(188, 128, 10, 0.2) !important;
  }
}

.new-tech5 {
  p {
    background-color: rgba(43, 140, 253, 0.2) !important;
  }
  li::marker {
    color: rgba(43, 140, 253, 0.2) !important;
  }
}

.new-tech6 {
  p {
    background-color: rgba(255, 230, 0, 0.2) !important;
  }
  li::marker {
    color: rgba(255, 230, 0, 0.2) !important;
  }
}

.hiring-container {
  .hiring-para {
    width: 872px;
    margin: auto;
    margin-top: 30px;
  }
  h2 {
    margin-top: 75px;
  }
  .developing-team {
    gap: 54px;
    margin-top: 34px;
    p:first-child {
      border: 1px solid black;
      padding: 5px 28px 0;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    .hiring-para {
      width: auto;
      margin-top: 20px;
    }
    h2 {
      margin-top: 40px;
    }
    .developing-team {
      gap: 16px;
      margin-top: 22px;
      p:first-child {
        padding: 5px 14px;
      }
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    .hiring-para {
      width: auto;
      margin-top: 22px;
    }
    .developing-team {
      gap: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .hiring-para {
      width: auto;
      margin-top: 22px;
    }
  }
}

.hire-card {
  padding: 48px 64px 50px 46px;
  margin-top: 64px;
  li:first-child {
    margin-top: 14px;
  }
  ul {
    margin-left: 16px;
  }
  li {
    margin-top: 34px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 16px 0 0;
    padding: 28px 12px 32px 26px;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 22px 0 0;
    padding: 36px 15px 40px 26px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 34px;
    margin: 40px 0 10px 5px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
  }
}
.card1 {
  background-color: #fff8eb;
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 30px 0 0 20px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 40px 0 0 48px;
  }
}

.card2 {
  background-color: #f0f7ff;
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin-left: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 30px 20px 0 0;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 40px 48px 0 0;
  }
}
.custom-sof-container {
  img {
    width: 100%;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: auto 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: auto 30px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: auto 40px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: auto 20px;
  }
}

.card3 {
  background-color: #e5fff0;
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 0 0 0 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 0 0 0 20px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 10px 0 0 48px;
  }
}

.company-swiper {
  padding: 20px 213px;
  border-bottom: 1px solid #e6e6e8;
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    padding: 20px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 24px 48px 0;
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    padding: 20px 60px;
  }
  .swiper-wrapper {
    align-items: center;
  }
}

.about-us-swiper {
  border-bottom: none;
}

.professional-hire {
  margin-top: 46px;
  .hire-content {
    p {
      font-size: 18px;
      width: 743px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 22px 20px 0;
    p {
      font-size: 12px !important;
    }
    .counter-card {
      padding: 25px 13px 26px 13px;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 26px 20px 0;
    p {
      font-size: 14px !important;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 30px 30px 0;
    p {
      font-size: 16px !important;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 24px 48px 0;
  }
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    p {
      width: auto !important;
    }
  }
}

.counter-card {
  padding: 30px 50px 44px 26px;
  &:first-child,
  &:nth-child(4) {
    border: 1px solid #e6e6e8;
    background-color: #fbfbfb;
  }
}

.counter-box {
  border: 1px solid #e6e6e8;
  border-radius: 4px;
}

.floating-point {
  background: #fff;
  padding: 14px 28px 14px 21px;
  bottom: 38%;
  box-shadow: -2px 2px 4px 0px #dddddd;
  border-radius: 6px;
  left: -108px;
  i {
    margin-right: 16px;
  }
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    padding: 10px 12px 10px 12px;
    right: 0;
    left: initial;
    i {
      margin-right: 8px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1270px) {
    right: 122px;
    left: initial;
    padding: 10px 8px 10px 11px;
    bottom: 34%;
  }
}

.image-card-2 {
  padding: 14px 81px 14px 21px;
  bottom: 25%;
  left: -133px;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    padding: 14px 46px 10px 14px;
    right: 0;
    left: initial;
    bottom: 24%;
    i {
      margin-right: 8px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1270px) {
    right: 122px;
    left: initial;
    padding: 10px 38px 10px 12px;
    bottom: 21%;
  }
}

.image-card-3 {
  padding: 14px 81px 14px 21px;
  bottom: 12%;
  left: -156px;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    padding: 10px 35px 12px 14px;
    right: 0;
    left: initial;
    bottom: 10%;
    i {
      margin-right: 8px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1270px) {
    left: initial;
    padding: 10px 20px 10px 15px;
    bottom: 8%;
    right: 123px;
  }
}
.benifit {
  margin-top: 92px;
  .benifit-content-container {
    gap: 240px;
    .content-text {
      gap: 25px;
      h4 {
        font-size: 18px;
        font-weight: 900;
      }
    }
  }
  h2 {
    line-height: 67px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 40px 20px 0;
    .benifit-content-container {
      gap: 60px;
      .content-text {
        gap: 15px;
        h4 {
          font-size: 14px;
        }
      }
    }
    h2 {
      line-height: 32px;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 40px 20px 0;
    .benifit-content-container {
      gap: 54px;
      h4 {
        font-size: 16px !important;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 50px 30px 0;
    .benifit-content-container {
      gap: 50px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1270px) {
    h2 {
      line-height: 52px;
    }
    margin: 60px 48px;
    .benifit-content-container {
      gap: 60px;
    }
  }
}

.icon-background {
  padding: 13px;
  background: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.about-us-clint {
  margin-top: 90px;
}

.faq {
  font-size: 23px;
  line-height: 34px;
  color: #091071;
}

.why-maneksoft {
  margin-top: 102px;
  .why-card {
    background: #f4f4f5;
    padding: 32px 45px;
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 40px 20px 0;
    .why-card {
      padding: 18px;
      &:first-child {
        margin-top: 30px;
      }
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 50px 20px 0;
    .why-card {
      padding: 25px 28px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 60px 30px 0;
    .why-card {
      padding: 25px 28px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 80px 40px;
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    .why-card {
      padding: 22px 24px;
    }
  }
}

.man-coding {
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    float: right;
    width: 290px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
  }
}
.color-counter {
  color: $header-background;
}
.yellow-add {
  color: #f2931d;
}

.blue-box {
  background-color: $header-background;
  color: $section-background;
  padding-left: 72px;
  gap: 78px;
  margin-top: 32px;
  h2 {
    font-size: 50px;
    line-height: 70px;
  }
  a {
    margin-top: 22px;
    display: inline-block;
    background-color: $button-color;
    color: #000;
    border-radius: 100px;
    padding: 16px 60px;
  }
  img {
    width: 342px;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    h2 {
      font-size: 34px !important;
      line-height: 44px !important;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
      font-size: 40px !important;
      line-height: 54px !important;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    h2 {
      font-size: 40px;
      line-height: 50px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    padding: 20px;
    gap: 36px;
    h2 {
      font-size: 22px;
      line-height: 32px;
    }
    img {
      width: 30%;
      float: right;
    }
    a {
      margin-top: 16px;
      padding: 12px 30px;
    }
  }
}
.image-container {
  .select-part {
    margin-top: 58px;
    position: relative;
  }
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    margin: 24px 20px 0;
    .select-part {
      margin-top: 10px;
      select {
        padding: 8px 80px 8px 16px;
      }
      &::after {
        right: 50px;
      }
    }
    .second-select::after {
      right: 30% !important;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 50px 30px;
    img {
      width: 100%;
    }
    .load-more-button {
      img {
        width: 22%;
      }
    }
  }
}

.images-about-tech {
  margin-top: 50px;
  column-gap: 20px;
  row-gap: 28px;
  img {
    width: 100%;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    row-gap: 14px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    column-gap: 10px;
  }
}
.load-more-button {
  margin-top: 48px;
  padding: 12px 48px;
  background-color: $button-color;
  color: $header-background;
}

.main-and-aside {
  margin-top: 68px;
  main {
    color: #01031c;
    p {
      opacity: 0.8;
    }

    p:last-child {
      margin-top: 56px;
    }
    .content-2 {
      margin-top: 62px;
      p:nth-child(3) {
        margin-top: 52px;
      }
      h3 {
        margin-top: 30px;
      }
    }

    .list-box {
      margin-bottom: 20px;
      width: 100%;
    }
    .challenges {
      border-color: #eaeaea;
    }
    .result {
      padding: 38px 38px 72px 56px;
      background-color: #f4f4f5;
    }
    .technology-tools {
      background-color: $header-background;
      padding: 35px 71px 46px 50px;
      margin-top: 62px;
      color: white;
    }
    .content-3 {
      margin-top: 62px;
    }
  }
  .list-box {
    width: 308px;
    background: #f4f4f5;
    padding: 33px 122px 38px 30px;
    h4 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  .sub-part {
    padding: 36px 18px 32px 26px;
    background: linear-gradient(#f4f4f5, #f4f4f5) padding-box,
      linear-gradient(to right, #bcfa01, #26ed88);
    border-top: 8px solid transparent;
    input {
      padding: 15px 0 15px 18px;
      width: 100%;
    }
    button {
      padding: 14px 94px;
      background-color: $button-color;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 30px 20px;
    .technology-tools {
      padding: 40px !important;
    }
    .result {
      padding: 22px 14px !important;
    }
    .content-2 {
      margin-top: 34px !important;
      p:nth-child(3) {
        margin-top: 16px !important;
      }
    }
    main {
      p:last-child {
        margin-top: 16px;
      }
      .list-box {
        padding: 24px 22px;
      }
    }
    .sub-part {
      button {
        padding: 12px 82px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 40px 30px;
    main {
      .content-2 {
        margin-top: 34px !important;
        p:nth-child(3) {
          margin-top: 16px !important;
        }
      }
      p:last-child {
        margin-top: 16px;
      }
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 48px;
    main {
      .content-2 {
        margin-top: 34px !important;
        p:nth-child(3) {
          margin-top: 20px !important;
        }
      }
      p:last-child {
        margin-top: 20px;
      }
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    main {
      .content-2 {
        margin-top: 34px !important;
        p:nth-child(3) {
          margin-top: 20px !important;
        }
      }
      p:last-child {
        margin-top: 20px;
      }
    }
  }
}

.floating-section {
  top: -112px;
  background: #ffffff;
  padding: 10px;
  gap: 16px;
  .componet {
    padding: 20px;
    border: 1px solid #dddddd;
    margin-top: 18px;
    p:first-child {
      background-color: $orange-bg;
      padding: 8px 10px;
    }
    &:first-child {
      margin-top: 0;
    }
    h2 {
      font-size: 20px;
    }
    .spacing {
      line-height: 31px;
    }
  }

  .Design {
    background-color: $blue-bg !important;
  }
  .genral {
    background-color: $drrk-blue-bg !important;
  }
  .pink-bg {
    background-color: $pink-bg !important;
  }
  .orange-bg {
    background-color: $orange-bg;
  }
  .green-bg {
    background-color: $green-bg;
  }
  aside {
    .post {
      padding: 30px 10px 8px;
      background: #f4f4f5;
      h2 {
        font-size: 18px;
      }
      .componet {
        padding: 0;
        border: none;
        border-bottom: 1px solid #e2e2e2;
      }
    }
    .catagory-type {
      a {
        padding: 8px 10px;
      }
    }
    .category {
      h2 {
        font-size: 22px;
      }
      margin-top: 30px;
      background: #f4f4f5;
      padding: 30px 78px 27px 20px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    position: static;
    .componet {
      p:first-child {
        padding: 6px;
      }

      h2 {
        font-size: 14px !important;
        line-height: 20px;
      }
    }
    .pagination-number {
      margin: 0;
      font-size: 14px;
      padding: 4px 10px;
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    top: -28px;
    .post {
      h2 {
        font-size: 16px !important;
      }
      .componet {
        padding: 0 !important;
      }
    }
    .category {
      padding: 30px 48px 20px 14px !important;
    }
    .spacing {
      line-height: 26px !important;
    }
    .componet {
      padding: 16px !important;
    }
  }
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #f5f6f6;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 0.2rem;
}
.pagination-number.active {
  background: #f5f5f5;
}

.blog-footer {
  margin-top: 0 !important;
}

.header-bg {
  padding: 7px 10px;
  background-color: rgba(188, 250, 1, 0.2);
}

.blog-detail-header {
  width: 1244px !important;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    font-size: 28px !important;
    line-height: 36px !important;
  }
  @media screen and (min-width: 640px) and (max-width: 1023px) {
    font-size: 60px !important;
    line-height: 60px !important;
  }
  @media screen and (min-width: 320px) and (max-width: 1535px) {
    width: auto !important;
  }
}

.blog-detail {
  background-image: url("/assets/image/Service-list/header-imagesvg.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    background-image: none;
  }
}

.u-span {
  font-weight: 900;
  opacity: 1 !important;
  font-size: 40px;
}

.contact-us {
  background: linear-gradient(#fff, #fff) padding-box, #bcfa01;
  border-top: 8px solid transparent !important;
  border: 1px solid #ddd;
  margin-top: 86px;
  padding: 21px 78px;
  a {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: $button-color;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin-top: 44px;
    padding: 12px;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    padding: 16px 48px;
    margin-top: 50px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 16px 48px;
    margin-top: 60px;
  }
  @media screen and (min-width: 1280px) and (max-width: 1279px) {
    padding: 16px;
    margin-top: 60px;
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    padding: 21px 50px;
  }
}

.content-2 {
  li {
    margin-bottom: 10px;

    &::before {
      background: radial-gradient(#bcfa01, #26ed88);
      border-radius: 50%;
      content: "";
      display: inline-block;
      margin-right: 12px;
      margin-bottom: 2px;
      height: 6px;
      width: 6px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.app-maintaine {
  margin-top: 60px;
}

.marging-side {
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    margin: 20px !important;
  }
}

.input-filed {
  padding: 14px 20px;
  background: #fbfbfb;
  border-color: #e0e0e0;
  border-radius: 5px;
  img {
    min-width: 55px !important;
    width: 50px !important;
  }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    img {
      min-width: auto !important;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1535px) {
    img {
      min-width: 52px !important;
    }
  }
}
.myfile {
  padding: 12px 18px;
  background: $drrk-blue-bg;
  button {
    border: none;
  }
}

form {
  button {
    color: #00065a;
    padding: 16px 68px;
    background-color: $button-color;
  }
}

.country {
  appearance: none;
  background-image: url("/assets/image/contact-us-image/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px top 50%;
}

.technology-list-page {
  padding: 40px 130px 40px 40px;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    padding: 26px 20px;
    margin: 30px 0 0 0;
    .image-container-techno {
      gap: 30px !important;
    }
  }
}

.gray-bg {
  background-color: #f4f4f5;
}

.small-ll {
  padding: 8px 12px;
  border-color: #d9d9d9;
  background-color: #fff;
}

.image-container-techno {
  gap: 60px;
}

.all-technology {
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    h2 {
      margin: auto 20px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    h2 {
      margin: auto 30px;
    }
  }
}

.tech-box-blue {
  margin-top: 98px;
}

.clint-gray-bg {
  background: #fbfbfb;
  border-color: #e9e9e9;
  padding: 44px 54px 42px 48px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 22px 20px;
    margin: 16px 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 36px 34px;
    margin: 20px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    padding: 26px;
  }
}

.frist-col {
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    padding-left: 30px;
  }
}

.sec-col {
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    padding-right: 30px;
  }
}

.recruitment {
  margin-top: 70px;
}

.main-recruitment {
  .recruit-card-container {
    margin-top: 50px;
    gap: 18px;
    padding-bottom: 60px;
    .recruit-card {
      padding: 24px 66px 36px 29px;
      background: #fff;
      h2 {
        font-size: 20px;
        margin-top: 20px;
      }
    }
    .numbers {
      padding: 16px 26px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 30px 20px 0;
    .recruit-card {
      padding: 16px 16px 22px !important;
    }
    .numbers {
      padding: 14px 24px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin: 40px 30px 0;
    .recruit-card-container {
      gap: 14px;
    }
    .recruit-card {
      padding: 20px 12px 24px 20px !important ;
    }
  }
  @media screen and (max-width: 1700px) {
    .recruit-card {
      padding: 20px 12px 24px 20px !important ;
    }
  }
}
.main-recruitment {
  padding-top: 50px;
}

.box-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  visibility: hidden;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #000;
    opacity: 0;
    transition: opacity 1.3s;
  }

  .body-modal {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.modal-show {
    visibility: visible;
    transition: all 0.9s;
    .overlay {
      opacity: 0.5;
      transition: opacity 1.3s;
    }

    .body-modal {
      max-height: 1000px;
      opacity: 1;
      z-index: 200;
      width: 1004px;
      transition: 0.1s max-height 0.2s, 0.1s opacity 0.2s;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 1535px) {
    .body-modal {
      max-height: 100% !important;
      top: 0;
      overflow-y: scroll;
      transform: none;
      left: auto;
    }
    .custom-upload {
      padding: 20px 14px;
      margin-top: 20px;
    }
    .ctc-gap {
      gap: 20px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    .overlay {
      overflow-y: none;
    }
    .body-modal {
      top: 0px;
      width: 100% !important;
      padding: 0;
      form {
        padding: 0 20px 26px;
        height: 100%;
      }
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .body-modal {
      padding: 6px 26px 12px 21px;
    }
  }
  @media screen and (min-width: 1536px) and (max-width: 1727px) {
    .body-modal {
      max-height: 100%;
      padding: 8px 28px 24px;
      overflow-y: scroll;
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    .body-modal {
      padding: 12px 28px;
    }
  }
}

.active-modal {
  .mobile-unblur {
    z-index: 0;
  }
  overflow: hidden;
}

.search {
  background-color: $button-color;
  border-radius: 100px;
}

.searching-filed {
  background-image: url("/assets/image/clint-page/Search.svg");
  background-repeat: no-repeat;
  background-position: left 14px top 50%;
  padding-left: 54px;
  width: 494px;
  margin-right: 23px;
  @media screen and (max-width: 1279px) {
    width: 100%;
  }
}

select {
  appearance: none;
  padding: 8px 169px 8px 16px;
  background-color: #f4f4f4;
  border: 1px solid #e6e6e8;
  border-radius: 4px;
  appearance: none;
  background-image: url("/assets/image/contact-us-image/arrow-down.svg") !important;
  background-repeat: no-repeat !important;
  background-position: right 16px top 50% !important;
}

.technology-career {
  padding: 19px 19px 20px 12px;
  .tech-no-caed {
    p {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
.tech-img {
  padding: 16px 25px 16px 26px;
  background-color: #f2f1f1;
  border-color: #e9e9e9;
  border-radius: 100px;
  img {
    width: 100% !important;
    object-fit: scale-down;
  }
}
.read-me,
.search {
  padding: 14px 48px;
}

.select-filed {
  width: 284px;
  margin-right: 23px;
  @media screen and (max-width: 1279px) {
    width: 100%;
  }
}

.techno-color {
  background-color: #fbfbfb;
}

.career-color-input {
  background-color: #f4f4f5 !important;
}

.body-modal {
  background: #fff;
  z-index: 1000;
  padding: 30px 50px 42px 40px;
}

.cross-button {
  background-color: #ededed;
  padding: 12px 18px;
}

.ctc-gap {
  gap: 46px;
}

.custom-upload {
  background-color: #f5f6f6;
  margin-top: 34px;
  padding: 34px 288px;
  border-color: #b1b1b1;
}

.tech-img-2 {
  padding: 19px 16px 19px 20px !important;
}

.tech-img-3 {
  padding: 27px 14px 25px 13px !important;
}

.tech-img-4 {
  padding: 20px 20px 24px 20px !important;
}

.tech-img-5 {
  padding: 18px 23px 22px !important;
}

.tech-img-6 {
  padding: 20px 18px 20px 19px !important;
}

.tech-img-7 {
  padding: 27px 19px 19px 23px !important;
}

.tech-img-8 {
  padding: 20px 18px 17px 20px !important;
}

.career-table {
  margin-top: 50px;
}

.td-width {
  width: 584px;
  @media screen and (max-width: 767px) {
    width: 100% !important;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 400px !important;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    width: 460px !important;
  }
}

.top-padding {
  padding: 19px 19px 20px 12px;
  @media screen and (max-width: 767px) {
    padding: 19px 0 0;
  }
}
.bottom-padding {
  padding: 19px 19px 20px;
  @media screen and (max-width: 767px) {
    padding: 0 0 19px;
  }
}

.non-floating {
  gap: 107px !important;
  @media screen and (max-width: 767px) {
    gap: 50px !important;
    li {
      font-size: 12px;
    }
    margin: 16px !important;
    .apply-now {
      padding: 16px;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    gap: 20px !important;
    grid-template-columns: auto 300px;
    padding: 10px 16px;
    aside {
      width: 300px;
      justify-self: end;
    }
    li {
      font-size: 14px;
    }
  }
}

.job-overview {
  padding: 22px 27px 34px 26px;
  background: #fbfbfb;
  border-color: #dddddd;
  box-shadow: 3px 2px 5px 0px #e2e2e2;
  color: #161616;
  width: 379px;
  h3 {
    font-size: 28px !important;
    padding-bottom: 13px;
  }
  .spaccing-job {
    margin-top: 30px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    gap: 0 !important;
    width: auto;
  }
}
.apply-now {
  padding: 16px 144px;
  background-color: $button-color;
  margin-top: 29px;
  @media screen and (max-width: 767px) {
    width: 100%;
    text-align: center;
    margin-top: 16px;
  }
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    width: 300px;
    text-align: center;
    margin-top: 16px;
    padding: 14px;
  }
}

.terms-and-condition {
  @media screen and (max-width: 1279px) {
    margin-top: 20px !important;
    background-image: none;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .mobile-special {
      align-self: center;
    }
    h1 {
      font-size: 56px !important;
      line-height: 62px !important;
    }
  }
}

.site-linkes {
  a {
    font-size: 16px;
  }
  border-color: #e9e9e9;
  margin-top: 69px;
  .content-2 {
    gap: 91px;
    li {
      margin-top: 17px;
      &:first-child {
        margin-top: 28px;
      }
    }
  }
  @media screen and (max-width: 640px) {
    margin: 30px 10px 0;
    a {
      font-size: 12px;
    }
    .content-2 {
      gap: 50px;
    }
    .list-items-2 {
      margin: 14px 0 24px;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin: 30px 20px 0;
    a {
      font-size: 14px;
    }
    .content-2 {
      gap: 60px;
    }
    .list-items-2 {
      margin: 20px 0 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 30px 40px 0;

    .content-2 {
      gap: 60px;
    }
    .list-items-2 {
      margin: 28px 0 40px;
      gap: 28px !important;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 40px 40px 0;
  }
}

.list-items-2 {
  gap: 120px;
  margin: 28px 0 60px;
  li {
    margin-top: 5px !important;
    &:first-child {
      margin-top: 18px !important;
    }
  }
}
