@import "./variable";
* {
  box-sizing: border-box;
  margin: 0;
  font-family: $regular-font;
  padding: 0;
}
h4 {
  font-size: 20px;
  @media screen and (max-width: 640px) {
    font-size: 14px;
  }
}
#mobile-button {
  color: #bcfa01;
}
.mobile-unblur {
  @media screen and (max-width: 1279px) {
    z-index: 99;
    position: relative;
    background: $header-background;
  }
}
body {
  &:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    height: 100vh;
    background: rgba($color: $button-color, $alpha: 0.2);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(4px);
  }
  &.overflow_body,
  &.overly-menu {
    @media screen and (max-width: 1279px) {
      overflow: hidden;
    }
    &:before {
      opacity: 1;
      display: block;
      visibility: visible;
    }
  }
}
.marging {
  margin: auto 214px;
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    margin: auto;
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    margin: auto 30px;
  }
}
.container-div {
  width: 1920px;
  margin: auto;
  @media screen and (min-width: 320px) and (max-width: 1920px) {
    width: auto;
  }
}
a {
  font-size: 18px;
  line-height: normal;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    font-size: 14px;
  }
}
h3 {
  font-size: 24px;
  line-height: normal;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    font-size: 18px !important;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    font-size: 20px !important;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 22px !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h2 {
  font-size: 40px;
  line-height: normal;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    font-size: 22px;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    font-size: 28px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 32px;
  }
}
p {
  color: #01031c;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    font-size: 12px !important;
    line-height: 24px !important;
  }
  @media screen and (min-width: 640px) and (max-width: 1023px) {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    line-height: 26px !important;
  }
}
header {
  color: white !important;
  li {
    font-weight: 500;
  }
  background-color: $header-background;
  .nav-margin {
    margin: auto 270px auto 215px;
    div:first-child {
      color: $button-color;
    }
  }
  .info-header {
    margin: 98px 113px auto 219px;
    h1 {
      font-size: 72px;
      line-height: 90px;
      width: 880px;
    }
    p {
      font-size: 18px;
      color: white;
      line-height: 30px;
      margin-top: 32px;
      width: 798px;
    }
    img {
      height: 100%;
    }
  }
  .service-header {
    padding-bottom: 0;
    h1 {
      font-size: 64px;
      line-height: 72px;
    }
    .service-page-header {
      font-size: 24px;
      line-height: 72px;
    }
  }
  .dropdown-menu {
    width: fit-content;
    border-radius: 5px;
    z-index: 99;
    padding: 10px 0;
    li {
      padding: 10px 32px;
      width: 100%;
      margin-top: 14px;
      width: 100%;
      a {
        &::after {
          width: 0 !important;
        }
      }
      &:hover:not(.active-dropdown) {
        background-color: $button-color;
      }
    }
    .active-dropdown {
      background-color: $button-color;
    }
  }
  .hover-ul {
    li {
      a:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: linear-gradient($color);
        transition: width 0.3s;
        position: relative;
        bottom: -12px;
      }
      a:hover:not(.active-page)::after {
        width: 100%;
      }
      .active-page::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: $button-color;
      }
    }
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    color: black;
  }
  .round-border {
    border: 2px solid black;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
  }
  .contact-us-btn {
    background-color: $button-color;
    padding: 9px 13px 9px 31px;
    border-radius: 50px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    .info-header {
      margin: auto 20px;
      h1 {
        font-size: 34px;
        line-height: 42px;
      }

      p {
        width: auto;
        margin-top: 10px;
        color: white;
      }

      .header-btn {
        width: auto;
        flex-direction: column;
        margin-top: 20px;
        a {
          width: fit-content;
          padding: 16px 24px;
        }
      }
      .mobile-special {
        width: 100%;
        margin-top: 10px;
      }
    }

    .contact-us-btn {
      padding: 7px 12px 7px 18px;
    }
    .dropdown-menu {
      li {
        margin-top: 5px;
        padding: 8px 32px;
      }
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    .info-header {
      margin: auto 20px;
      h1 {
        font-size: 64px;
        line-height: 58px;
      }

      p {
        width: auto;
        margin-top: 30px;
      }
      .header-btn {
        width: auto;
        flex-direction: column;
        margin-top: 20px;
        a {
          width: fit-content;
          padding: 20px 26px;
        }
      }
      .mobile-special {
        width: 100%;
        margin-top: 10px;
      }
    }
    .dropdown-menu {
      li {
        padding: 8px 12px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .info-header {
      margin: 30px 30px auto;
      h1 {
        font-size: 68px;
        line-height: 78px;
      }
    }
    .dropdown-menu {
      li {
        padding: 10px 12px;
      }
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .info-header {
      margin: 24px 48px auto 60px;
      h1 {
        line-height: 86px;
      }
    }
    .dropdown-menu {
      li {
        padding: 10px 12px;
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 1535px) {
    .page-nav {
      margin-top: 20px !important;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    .mobile-menu li {
      margin-bottom: 16px;
    }
    .service-page-header {
      margin-bottom: 5px !important;
    }
    h1 {
      width: auto !important;
    }
    p {
      width: auto !important;
    }
    .site-logo {
      img {
        max-width: 66%;
      }
    }
    .nav-margin {
      padding: 8px 20px;
    }
    .mobile-menu {
      left: -200%;
      transition: 1s;
      z-index: 100;
      top: 60px;
      width: 300px !important;
      height: 200vh;
      background-color: $header-background;
      transition: all ease 0.3s;
    }
    .mobile-menu.active {
      left: 0;
    }
    .nav-margin {
      margin: auto;
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    .nav-margin {
      margin: auto 50px;
    }
    .info-header {
      margin: 52px 50px auto;
      padding-bottom: 30px;
    }
  }
}

.header-btn {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  a {
    padding: 22px 36px;
  }
  a:first-child {
    background-color: $button-color;
    color: $primary-color;
    border-radius: 100px;
  }
  a:last-child {
    color: $button-color;
    border: 1px solid $button-color;
    border-radius: 100px;
  }
}

.custom-app {
  background: #0e0e0e;
  margin-top: 80px;
  padding: 47px 0;
  p {
    margin-top: 20px;
    color: white;
    font-size: 20px;
  }
  a {
    font-size: 20px;
    color: #bcfa01;
  }
  .footer-btn {
    color: $primary-color;
    background-color: $button-color;
    padding: 16px 40px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin-top: 40px;
    padding: 24px 20px;
    a {
      font-size: 14px;
    }
    p {
      margin-top: 10px;
    }
    .footer-btn {
      padding: 12px 32px;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    margin-top: 50px;
    padding: 28px 20px;
    h2 {
      text-align: center;
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    .footer-btn {
      padding: 16px 20px;
    }
  }
}
footer {
  margin-top: 100px;
  p {
    color: white;
  }
}
.actual-footer {
  background: #161616;

  padding: 70px 0 0;
  .icon-invert {
    gap: 18px;
    i {
      filter: invert(100%) brightness(50%);
      margin-top: 8px;
    }
  }
  h3 {
    font-size: 20px;
    line-height: normal;
  }
  ul {
    li {
      margin-top: 18px;
      a {
        opacity: 0.5;
      }
      a:hover {
        opacity: 1;
      }
    }
  }
  .address {
    width: 261px;
    a {
      margin-top: 20px;
      display: inline-block;
      margin-left: 30px;
    }
    a,
    p {
      opacity: 0.5;
    }
  }
}

.hiring {
  color: black;
  background-image: linear-gradient(to right, #bcfa01, #26ed88);
  padding: 8px 18px;
  margin-left: 14px;
}

.privacy {
  color: #f4f8ff;
  margin-top: 94px;
  border-top: 1px solid #292929;
  padding: 18px 0;
  p {
    opacity: 0.5;
  }
}

.page-nav {
  font-size: 14px;
  line-height: normal;
  margin-top: 81px !important;
  font-weight: 400;
  word-spacing: 10px;
}

.casr-spacing {
  word-spacing: 3px !important;
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    word-spacing: 1px !important;
  }
}

.detail-case-bg {
  background-image: url("/assets/image/Home-page/background-work.png");
  h1 {
    width: 966px !important;
  }
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    h1 {
      width: auto !important;
    }
  }
  background-size: cover;
  background-position: 100px;
}

.blog-page-dic {
  margin-top: 20px !important;
}

.active-down {
  transform: rotate(180deg);
}

.footer-ul {
  li {
    padding-left: 20px;
    &:first-child {
      list-style: none;
      &::marker {
        content: "";
      }
    }
    &::marker {
      content: ".";
    }
  }
  @media screen and (max-width: 767px) {
    gap: 10px;
    flex-direction: column;
    li {
      &::marker {
        content: "";
      }
    }
  }
}

.career-details {
  background-image: url("/assets/image/Service-list/header-imagesvg.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 36px;
  background-size: contain;
  @media screen and (max-width: 1023px) {
    background-image: none;
  }
  @media screen and (min-width: 1280px) {
    background-size: auto;
    background-position: right 20% top -66px;
  }
}

.content-terms {
  margin-top: 60px;
  h2 {
    font-size: 48px !important;
  }
  h2,
  h3 {
    line-height: 67px !important;
  }
  p {
    color: #343549 !important;
    opacity: 1;
  }
  li {
    list-style: disc inside;
    margin: 18px 0 0 10px;
  }
  .top-marging {
    margin-top: 40px;
  }

  @media screen and (max-width: 767px) {
    margin: 30px 20px 0;
    h2 {
      font-size: 24px !important;
    }
    .top-marging {
      margin-top: 20px;
    }
    h2,
    h3 {
      line-height: 34px !important;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 40px 20px 0;
    h2 {
      font-size: 34px !important;
    }
    .top-marging {
      margin-top: 30px;
    }
    h2,
    h3 {
      line-height: 44px !important;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    margin: 40px 40px 0;
    h2 {
      font-size: 40px !important;
    }
    h2,
    h3 {
      line-height: 50px !important;
    }
  }
}

.scoop {
  margin-top: 70px;
}

.acc_card:last-child {
  border: none;
}

.linkes-container {
  padding: 20px 20px 28px;
}
