@import "./font";
$header-background: #00065a;
$primary-color: #01031c;
$button-color: #bcfa01;
$section-background: #f4f4f5;
$regular-font: Neurial Grotesk;

$color: $button-color, #26ed88;
// technolody background color
$blue-bg: rgba(43, 177, 253, 0.1);
$pink-bg: rgba(253, 43, 194, 0.1);
$drrk-blue-bg: rgba(73, 43, 253, 0.1);
$orange-bg: rgba(253, 159, 43, 0.1);
$green-bg: rgba(43, 253, 165, 0.1);
